n8n-workflows/daily-insights-configured.json
{
  "name": "Daily Weather Insights",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "1",
      "name": "Daily at 9 AM",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "q",
                "value": "Auckland,NZ"
              },
              {
                "name": "appid",
                "value": "4621d4ed0b8ebe0607575eed1ffca8b7"
              },
              {
                "name": "units",
                "value": "metric"
              }
            ]
          }
        }
      },
      "id": "2",
      "name": "Get Weather Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Enhanced daily weather insights for marketing\nconst weather = $input.all()[0].json;\n\n// Generate comprehensive marketing recommendations\nfunction generateDetailedInsights(data) {\n  const temp = data.main.temp;\n  const condition = data.weather[0].main;\n  const humidity = data.main.humidity;\n  const windSpeed = data.wind?.speed || 0;\n  const pressure = data.main.pressure;\n  \n  const insights = {\n    marketingRecommendations: [],\n    contentStrategy: [],\n    customerBehavior: [],\n    advertisingTiming: [],\n    budgetAdjustments: [],\n    productFocus: []\n  };\n  \n  // Temperature-based comprehensive recommendations\n  if (temp > 25) {\n    insights.marketingRecommendations.push(\n      'Increase summer product advertising by 25-35%',\n      'Promote outdoor activities and events',\n      'Focus on cooling and hydration products',\n      'Boost travel and leisure campaigns'\n    );\n    insights.contentStrategy.push(\n      'Create heat-relief content (cooling tips, summer fashion)',\n      'Outdoor adventure and travel content',\n      'Pool, beach, and summer activity content',\n      'Energy-efficient cooling solutions'\n    );\n    insights.customerBehavior.push(\n      'Higher online engagement during hot afternoons (2-4 PM)',\n      'Increased demand for immediate delivery services',\n      'Peak shopping for cooling products and summer gear',\n      'Higher conversion rates for outdoor experiences'\n    );\n    insights.advertisingTiming.push(\n      'Best engagement: 7-9 AM (planning day)',\n      'Avoid 12-3 PM (peak heat, lower engagement)',\n      'Prime time: 6-8 PM (evening cooldown)',\n      'Night campaigns work well (8-10 PM)'\n    );\n    insights.budgetAdjustments.push(\n      'Increase cooling product budgets by 30%',\n      'Boost outdoor activity campaigns by 25%',\n      'Reduce indoor entertainment spend by 15%'\n    );\n    insights.productFocus.push(\n      'Air conditioning and fans',\n      'Summer clothing and swimwear',\n      'Cold beverages and ice cream',\n      'Outdoor recreation equipment'\n    );\n  } else if (temp < 10) {\n    insights.marketingRecommendations.push(\n      'Promote indoor activities and comfort products',\n      'Increase heating and warm product campaigns',\n      'Focus on delivery and convenience services',\n      'Boost indoor entertainment options'\n    );\n    insights.contentStrategy.push(\n      'Winter clothing and layering guides',\n      'Warm comfort food recipes and content',\n      'Indoor activity and hobby content',\n      'Home heating and insulation solutions'\n    );\n    insights.customerBehavior.push(\n      'Increased indoor browsing time (+40%)',\n      'Higher demand for delivery services',\n      'Peak engagement during warm indoor hours',\n      'Longer consideration periods for purchases'\n    );\n    insights.advertisingTiming.push(\n      'Peak engagement: 10 AM-2 PM (warm indoor hours)',\n      'Evening prime time: 7-9 PM (cozy hours)',\n      'Avoid early morning (6-8 AM) lower engagement',\n      'Weekend afternoons perform well'\n    );\n    insights.budgetAdjustments.push(\n      'Increase heating product budgets by 35%',\n      'Boost indoor entertainment by 25%',\n      'Reduce outdoor activity spend by 30%'\n    );\n    insights.productFocus.push(\n      'Heating systems and warm clothing',\n      'Hot beverages and comfort foods',\n      'Indoor entertainment and books',\n      'Delivery and convenience services'\n    );\n  } else {\n    insights.marketingRecommendations.push(\n      'Balanced approach - moderate weather conditions',\n      'General lifestyle and seasonal transition focus',\n      'Maintain standard campaign levels',\n      'Focus on routine product categories'\n    );\n    insights.contentStrategy.push(\n      'General lifestyle and wellness content',\n      'Seasonal transition and preparation content',\n      'Work-life balance and productivity content',\n      'Mixed indoor/outdoor activity content'\n    );\n    insights.customerBehavior.push(\n      'Normal browsing patterns expected',\n      'Balanced indoor/outdoor activity interest',\n      'Standard conversion rates across categories',\n      'Consistent engagement throughout day'\n    );\n    insights.advertisingTiming.push(\n      'Standard timing: 9 AM-12 PM (morning energy)',\n      'Lunch break: 12-1 PM (quick browsing)',\n      'Afternoon: 3-6 PM (decision making)',\n      'Evening: 7-9 PM (relaxed browsing)'\n    );\n    insights.budgetAdjustments.push(\n      'Maintain current budget allocation',\n      'No major adjustments needed',\n      'Monitor for weather changes'\n    );\n    insights.productFocus.push(\n      'General lifestyle products',\n      'Work and productivity tools',\n      'Health and wellness items',\n      'Standard seasonal offerings'\n    );\n  }\n  \n  // Weather condition specific insights\n  if (condition === 'Rain') {\n    insights.marketingRecommendations.push(\n      'Boost indoor entertainment and delivery services by 30%',\n      'Promote umbrella, rainwear, and weather protection',\n      'Increase comfort product campaigns'\n    );\n    insights.customerBehavior.push(\n      '25-40% increase in online shopping during rain',\n      'Higher engagement with delivery services',\n      'Increased interest in indoor activities'\n    );\n    insights.productFocus.push(\n      'Umbrellas and rain protection',\n      'Indoor games and entertainment',\n      'Comfort foods and hot beverages',\n      'Delivery and pickup services'\n    );\n  } else if (condition === 'Clear') {\n    insights.marketingRecommendations.push(\n      'Perfect for outdoor product campaigns',\n      'Increase travel and adventure marketing',\n      'Promote outdoor events and activities'\n    );\n    insights.customerBehavior.push(\n      'Higher foot traffic expected',\n      'Increased interest in outdoor purchases',\n      'Peak engagement for experience-based products'\n    );\n    insights.productFocus.push(\n      'Outdoor recreation equipment',\n      'Travel and adventure gear',\n      'Sports and fitness products',\n      'Outdoor dining and entertainment'\n    );\n  }\n  \n  // Add confidence scoring\n  const confidence = {\n    overall: 0.88,\n    temperature: temp > 30 || temp < 5 ? 0.95 : 0.85,\n    condition: condition === 'Clear' || condition === 'Rain' ? 0.92 : 0.80,\n    timing: 0.87\n  };\n  \n  return { insights, confidence };\n}\n\nconst analysis = generateDetailedInsights(weather);\n\nconst todayInsights = {\n  date: new Date().toISOString().split('T')[0],\n  weather: {\n    temperature: Math.round(weather.main.temp * 10) / 10,\n    condition: weather.weather[0].description,\n    humidity: weather.main.humidity,\n    windSpeed: Math.round((weather.wind?.speed || 0) * 10) / 10,\n    pressure: weather.main.pressure,\n    location: `${weather.name}, ${weather.sys.country}`\n  },\n  insights: analysis.insights,\n  confidence: analysis.confidence,\n  timestamp: new Date().toISOString(),\n  source: 'Daily Weather Intelligence',\n  recommendations: {\n    priority: 'high',\n    implementToday: true,\n    reviewRequired: false\n  }\n};\n\nreturn [{ json: todayInsights }];"
      },
      "id": "3",
      "name": "Generate Daily Insights",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:3001/api/weather-insights",
        "requestMethod": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "={{ JSON.stringify($json) }}",
        "options": {
          "headers": {
            "Content-Type": "application/json"
          }
        }
      },
      "id": "4",
      "name": "Store Insights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Daily at 9 AM": {
      "main": [
        [
          {
            "node": "Get Weather Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Weather Data": {
      "main": [
        [
          {
            "node": "Generate Daily Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Daily Insights": {
      "main": [
        [
          {
            "node": "Store Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}